/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}

/* Header */
header {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
}

nav ul li {
    display: inline-block;
    margin-right: 14px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    background-color: #878686;
}

.active {
    background-color: #b3b1b1;
    color: black;
    }

/* Main Content */
main {
    padding: 20px;
    color: white;
}

.status{
    border: #333;
}

#stats {
    border: 1px solid black;
}

.text {
    font-family: Lucida Sans;
}

main h2 {
    text-shadow: 2px 2px #a09d9d;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
/* gallery */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    background-color: #444;
    color: #ccc;
  }

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}